<blockquote class="blockquote">
  <p>Secret Santa, ou Noël canadien au Québec et dans les pays francophones, est une tradition de Noël, surtout dans les pays anglo-saxons, lors de laquelle les membres d'un groupe ou d'une communauté s'offrent au hasard des cadeaux.

    Le tirage au sort est anonyme (il peut y avoir des variantes, mais souvent le nom de l'offrant est révélé seulement le jour de l'échange des cadeaux).

    Souvent pratiquée sur les lieux de travail, dans les familles nombreuses ou entre amis et dans les classes dans les écoles. Sa participation est généralement volontaire. Elle offre un moyen pour beaucoup d'offrir et de recevoir un cadeau à un coût modéré (au lieu de multiplier les cadeaux, on reçoit un cadeau et on en fait un). Le secret du tirage encourage également, pour les groupes dont les membres ne sont pas assez proches, à faire participer les gens, et à rendre ainsi plus facile l'organisation et l'échange de cadeaux.</p>
  <footer class="blockquote-footer"><cite title="Source Title"><a href="https://fr.wikipedia.org/wiki/Secret_Santa">Wikipédia</a></cite></footer>
</blockquote>
